<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LuminChat</title>

  <!--
    - favicon
  -->
  <!-- <link rel="shortcut icon" href="../static/assets/images/logo/favicon.jpeg" type="image/x-icon"> -->

  <!--
    - custom css link
  -->

  <!-- footer css -->
  

  <!-- hedaer css -->

  <!-- signin -->
  <link rel="stylesheet" href="{% static '../static/assets/css/signin.css' %}">

  <!-- Register -->

  <link rel="stylesheet" href="{% static '../static/assets/css/register.css' %}">
  
  <!--
    - google font link
  -->

</head>

<body>

  {% block content %}
      

    
  {% endblock content %}



  <!--
    - custom js link
  -->


</body>

</html>